*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
bintray.user=mohdrizzwan
bintray.apikey=545ed944dc30dab359536200af8f18f01ab2c001
